.services-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .services-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .service-card {
    width: 200px;
    margin: 10px;
    text-align: center;
  }
  
  .service-card img {
    width: 100%;
    height: auto;
  }
  
  .service-link {
    text-decoration: none;  /* إزالة الخط تحت الرابط */
    color: inherit;  /* جعل النص في الرابط بنفس اللون */
  }
  