.navbarx{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
    transition: background-color 0.5s ease;
    box-shadow: 0px 0px 10px gray;
        position: sticky;
    top: 0;
    z-index: 1000;

}
.midnav a:hover,.midnav a:focus {
background-color: rgb(5, 70, 149);
border-radius:5px ;
-webkit-border-radius:5px ;
-moz-border-radius:5px ;
-ms-border-radius:5px ;
-o-border-radius:5px ;
color:white;
padding:15px 25px;
}
.searchlogo,.modelogo{
    width:50px;
    cursor: pointer;
    margin-left: 40px;
    background:none;
    
}

.modelogo{
    width:30px;
    margin-right: -100px;
}
.logo1{
    width:90px;
    cursor: pointer;
    margin-left: -80px;
    
}
.search-box{
    display: flex;
    align-items: center;
    background:rgba(109, 166, 234, 0.73) ;
    padding: 10px 20px;
    border-radius: 50px;
    height: 40px;
    margin-right: 300px;
    width:300px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border:0;
    outline: 0;
    color:#ffff;
    font-size: 18px;
    max-width:200px;
}

.search-box input::placeholder{
    color:#ffff;
}
.search-box img{
    width:20px;
    cursor:pointer;
}
* {box-sizing: border-box;}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.midnav ul {
    display: flex;               /*To display items next to each other */
    list-style-type: none;      
    margin:0px;        
    margin-left: 100px;         
}

.midnav li {
    margin: 0 10px; 
}

.midnav a {
    text-decoration: none;     
    color: black; 
    padding: 15px 25px; 
    margin-left: 20px;  
    margin-right: 20px;    
    margin-bottom: 10px;       
}

@media(max-width:992px){
.modelogo{
    margin-top:50px;
    
}
}

